body{
 margin: 0;
 padding: 10px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 min-width: 400px;   
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button{
  background: #5f9341;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
}
#delete-btn{
  background: #fff;
  color: #5f9341;
  padding: 10px 20px;
  border: 1px solid #5f9341;
  font-weight: bold;
}


ul{
  margin-top: 20px;
 list-style-type: none;
 padding-left: 0;
}
li{
margin-top: 5px;
}
a{
color: #5f9341;
}
